.DS_Store
node_modules/
dist/
static/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cache/
static/live-init.json
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
# env-cmd:
# https://github.com/toddbluhm/env-cmd#user-content-advanced-usage
.env.local
